// Fonts
$bold-font: 'GT-Walsheim-Bold', Helvetica, Arial, sans-serif;
$regular-font: 'GT-Walsheim-Medium', Helvetica, Arial, sans-serif;
$light-font: 'GT-Walsheim-Light', Helvetica, Arial, sans-serif;
// Background Colors
$teal: #01d2bd;
$dark-teal: #019a8b;
$dark-blue: #121c25;
// Font Colors
$light-grey: #aebac8;
$dark-grey: #3f4b56;
$light-blue: #009ddc;
// Icon Colors
$icon-blue: #204896;
// Containers
$container-sml: 480px;
$container-mobile: 100%;
$container-tablet: 768px;
$container-desktop: 960px;
$container-hd: 1200px;
$container-hd-lg: 1440px;
